@import "tailwindcss";
@config "../tailwind.config.ts";

body {
  font-family: 'Open Sans', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 150 8% 15%;       /* #222629 */
    --foreground: 0 0% 100%;        /* #FFFFFF */
  
    --primary: 82 63% 50%;          /* #86C232 */
    --primary-foreground: 150 8% 15%; /* #222629 */
  
    --secondary: 210 3% 29%;        /* #474B4F */
    --secondary-foreground: 0 0% 100%;
  
    --muted: 220 2% 43%;            /* #6B6E70 */
    --muted-foreground: 0 0% 100%;
  
    --accent: 84 50% 37%;           /* #61892F */
    --accent-foreground: 82 63% 50%; /* #86C232 */
  
    --destructive: 0 100% 66%;      /* #FF5F5F */
    --destructive-foreground: 0 0% 100%;
  
    --border: 210 3% 29%;           /* #474B4F */
    --input: 210 3% 29%;
    --ring: 82 63% 50%;             /* #86C232 */
  }
  
  .dark {
    --background: 231 14% 6%;
    --foreground: 210 3% 78%;
  
    --card: 210 21% 15%;
    --card-foreground: 210 3% 78%;
  
    --popover: 210 21% 15%;
    --popover-foreground: 210 3% 78%;
  
    --primary: 174 94% 70%;
    --primary-foreground: 231 14% 6%;
  
    --secondary: 210 21% 15%;
    --secondary-foreground: 210 3% 78%;
  
    --muted: 210 3% 50%;
    --muted-foreground: 210 3% 78%;
  
    --accent: 177 39% 45%;
    --accent-foreground: 210 3% 78%;
  
    --destructive: 0 100% 66%;
    --destructive-foreground: 210 3% 78%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
